<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @specialist.name %>
</p>

<p>
  <strong>Speciality:</strong>
  <%= @specialist.speciality %>
</p>
<p>
  <strong>Upcoming patients:</strong>
  <% @specialist.appointments.each do |arg| %>
  <p>
  <%= "#{arg.patient.name} (#{arg.appointment_date}) " %>
  <b>Days until appointment:</b>
    <%= (arg.appointment_date - @today).to_i %>
  <% end %>
</p>
</p>





<%= link_to 'Edit', edit_specialist_path(@specialist) %> |
<%= link_to 'Back', specialists_path %>
