<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @patient.street_address %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @patient.insurance_id %>
</p>

<p>
  <strong>Upcoming Appointments:</strong>
  <% @patient.appointments.each do |arg| %>
  <p>
  <%= "#{arg.specialist.name}, #{arg.specialist.speciality}. Next Appointent Date: #{arg.appointment_date} " %>
</p>
  <% end %>
</p>



<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
